version: '3.8'

services:
  snack-frontend-dev:
    image: node:20-alpine
    container_name: snack-pos-frontend-dev
    working_dir: /app
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
    command: sh -c "npm install && npm run dev -- --host"
    environment:
      - NODE_ENV=development
    restart: unless-stopped
    networks:
      - snack-network

networks:
  snack-network:
    driver: bridge
